[
    {ecomet_server, [
        {log_stat_interval, 120},
        {sockjs_config, [
                % ignored path items before sid. Include tag and server parts
                {sid_ignore_tokens, 2},
                {tag, ecomet},
                {max_connections, 2047},
                {nb_acceptors, 199},
                {port, 8085}
                ]
        },
        {log, "/var/log/erpher/ec"},
        {debug, [
                {child, 4},
                {http, 4},
                {run, 4}
            ]
        },
        {child_config, [
            {jit_log_level, 3},
            {jit_log_keep_n, 2000},
            {jit_log_keep_time, 50.1},
            {economize, memory}, % memory, cpu
            {deep_memory_economize, true}, % call gc
            {user_data_as_auth_host, true},
            {idle_timeout0, 681}, % seconds. Idle (no any data) time before exit
            {auth_recheck_interval, 61}, % seconds
            {qmax_dur, 600200100}, % microseconds
            {qmax_len, 500},
            {http_connect_timeout, 15000},
            {http_timeout, 60000},
            {debug, [
                    {stat, 6},
                    {rb_msg, 6}, % rabbit messages
                    {web_msg, 6}, % web messages
                    {ws, 6}, % web socket
                    {lp, 6}, % long poll
                    {http, 4}, % http request, response
                    {run, 6}
                ]
            }
        ]},
        {rabbit, [
                {port, 5672},
                {host, '127.0.0.1'},
                {user, <<"guest">>},
                {password, <<"guest">>},
                {vhost , <<"/">>},
                {exchange , <<"negacom">>},
                {exchange_base, <<"ecomet_">>},
                {exchange_type , <<"topic">>},
                {queue , <<"ec_queue_3">>},
                {routing_key , <<"test_event">>}
        ]}
    ]} % ecomet server
].

